<div th:fragment="navBar">
  <nav>
    <div class="logo" style="display: flex;align-items: center;">
      <a href="/activate/inicio">
        <img id="logo" src="/images/logo.png" alt="Logo de la aplicación" />
      </a>
    </div>
    <div class="hamburger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="nav-links">
      <li><a href="/activate/inicio" class="nav-link" data-route="/activate/inicio">Inicio</a></li>
      <li><a href="/activate/perfil" class="nav-link" data-route="/activate/perfil">Perfil</a></li>
      <li><a href="/activate/servicios" class="nav-link" data-route="/activate/servicios">Servicios</a></li>
      <li><a href="/activate/contacto" class="nav-link" data-route="/activate/contacto">Contacto</a></li>
      <li><a href="/activate/iniciarSesion"><button class="login-button" id="loginButton">Iniciar Sesión/Registrarse</button></a></li>
    </ul>
  </nav>
  <script src="/js/nav.js"></script>
</div>
