<div th:fragment="navBar">
  <nav>
    <div class="logo" style="display: flex;align-items: center;">
      <a href="/activate/inicio">
        <img  id="logo" src="/images/logo.png" alt="Logo de la aplicación" />
      </a>
    </div>
    <div class="hamburger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="nav-links">
      <li class="opciones"><a href="/activate/inicio" class="nav-link" data-route="/activate/inicio">Inicio</a></li>
      <li class="opciones"><a href="/activate/perfil" class="nav-link" data-route="/activate/perfil">Perfil</a></li>
      <li class="opciones"><a href="/activate/servicios" class="nav-link" data-route="/activate/servicios">Servicios</a></li>
      <li class="opciones"><a href="/activate/contacto" class="nav-link" data-route="/activate/contacto">Contacto</a></li>

      <!-- Mostrar el enlace de administrador si el primer rol del usuario es 'ADMIN' -->
      <li th:if="${currentUserRoles != null and #lists.size(currentUserRoles) > 0 and currentUserRoles[0] == 'ADMIN'}">
        <a href="/activate/admin" class="nav-link" data-route="/activate/admin">Admin</a>
      </li>

      <!-- Mostrar el botón de rol si el usuario tiene roles -->
      <li th:if="${currentUserRoles != null and currentUserRoles[0] == 'ROLE_ADMIN'}">
        <a href="/activate/perfil"><button class="login-button" id="roleButton" th:text="${currentUserRoles[0]}">Rol</button></a>
      </li> 

      <!-- Mostrar botón de iniciar sesión si el usuario no está autenticado -->
      <li th:if="${currentUserName == null}">
        <a href="/activate/iniciarSesion"><button class="login-button" id="loginButton">Iniciar Sesión/Registrarse</button></a>
      </li>

      <!-- Mostrar botón de cerrar sesión si el usuario está autenticado -->
      <li th:if="${currentUserName != null}" class="dropdown">
        <button class="login-button" id="userButton" th:text="${currentUserName}"></button>
        <div class="dropdown-content">
          <a href="/activate/perfil" id="perfilNav" class="dropdown-button">Mi Perfil</a>
          <form th:action="@{/logout}" method="post">
            <button id="cerrarSesionNav" class="login-button dropdown-button">Cerrar Sesión</button>
          </form>
        </div>
      </li>
    </ul>
  </nav>
  <script src="/js/nav.js"></script>
</div>
