<div th:fragment="navBar">
  <nav>
    <div class="logo" style="display: flex;align-items: center;">
      
        <a href="/activate/inicio">
          <img id="logo" src="/images/logo.png" alt="Logo de la aplicación" />
        </a>
      
    </div>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li><a href="/activate/inicio">Inicio</a></li>
        <li><a href="/activate/perfil">Perfil</a></li>
        <li><a href="/activate/servicios">Servicios</a></li>
        <li><a href="/activate/contacto">Contacto</a></li>
        <li><button class="login-button" href="/activate/registrarse">Iniciar Sesión/Registrarse</button></li>
    </ul>
</nav>
<script src="/js/nav.js"></script>
  </div>

  