<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario de la Dieta</title>
    <link rel="stylesheet" href="/css/dietaDetalle.css">
</head>
<body>
    <div class="container">
        <div class="dieta-card">
            <img th:src="@{${dieta.rutaImagen}}" alt="Imagen de la Dieta" class="dieta-image">
            <div class="dieta-details">
                <h1 class="dieta-title" th:text="${dieta.descripcion}">Nombre de la Dieta</h1>
                <p class="dieta-info"><strong>Calorías Totales:</strong> <span th:text="${dieta.caloriasTotales}"></span></p>
                <p class="dieta-info"><strong>Tipo de Alimento:</strong> <span th:text="${dieta.tipoAlimento}"></span></p>
                <p class="dieta-description"><strong>Descripción:</strong> <span th:text="${dieta.descripcionLarga}">Esta dieta es ideal para...</span></p>
            </div>
        </div>

        <div class="horario-comidas">
            <h2>Horario de Comidas</h2>
            <div th:each="comida : ${horarioComidas}">
                <div class="comida">
                    <h3 th:text="${comida.tipoComida}">Comida</h3>
                    <ul>
                        <li th:each="alimento : ${comida.alimentos}">
                            <span th:text="${alimento.nombreAlimento}"></span> -
                            <span th:text="${alimento.cantidad}"></span> <span>gr</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
