<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entrenadores</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/entrenadores.css">
</head>
<body>
    <div class="wrapper">
        <nav th:replace="~{components/navbar.html :: navBar}"></nav>
        <h1>Lista de Entrenadores</h1>
        <main>
            <div class="entrenadores-container">
                <!-- Iterar sobre la lista de entrenadores -->
                <div class="card" th:each="entrenador : ${entrenadores}">
                    <!-- Utilizar los atributos del entrenador para mostrar la información -->
                    <img th:src="@{${entrenador.rutaImagen}}" alt="Imagen de Entrenador" />
                    <h2 th:text="${entrenador.nombre} + ' ' + ${entrenador.apellidos}"></h2>
                    <p th:text="  ${entrenador.email}"></p>
                    <p th:text="'Teléfono: ' + ${entrenador.telefono}"></p>
                    <p th:text="${entrenador.especialidad}"></p>
                </div>
            </div>
        </main>
        <footer th:replace="~{components/footer.html :: footer}"></footer>
    </div>
</body>
</html>
