<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/entrenadorDetalle.css">
    <title>Detalles del Entrenador</title>
</head>
<body>
    <nav th:replace="~{components/navbar.html :: navBar}"></nav>

    <div class="entrenador-detalle">
        <img th:src="@{${entrenador.rutaImagen}}" th:alt="${entrenador.nombre} ${entrenador.apellidos}">
        <h2 th:text="${entrenador.nombre} + ' ' + ${entrenador.apellidos}"></h2>
        <p>Email: <span th:text="${entrenador.email}"></span></p>
        <p>Especialidad: <span th:text="${entrenador.especialidad}"></span></p>
        <p>Teléfono: <span th:text="${entrenador.telefono}"></span></p>
        <p>Fecha de Nacimiento: <span th:text="${entrenador.fechaNacimiento}"></span></p>
        <p>Descripción: <span th:text="${entrenador.descripcion}"></span></p>
    </div>

    <footer th:replace="~{components/footer.html :: footer}"></footer>
</body>
</html>
