<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/nav.css">
    <script src="/js/index.js"></script>
    <title>Actívate-Inicio</title>
  </head>

  <body cz-shortcut-listen="true">

    <nav th:replace="~{components/navbar.html :: navBar}"></nav>
    <main id="mainBody">
      <h1>Activate con nosotros</h1>
    </main>
    <div class="noticia" style="display: block">
      <h1>Noticia 1</h1>
      <p>Descripción de la noticia 1.</p>
    </div>
    <div class="noticia" style="display: none">
      <h3>Noticia 2</h3>
      <p>Descripción de la noticia 2.</p>
    </div>
    <div class="navegacion-noticias">
      <span class="flecha-izquierda">◁</span>
      <span class="flecha-derecha">▷</span>
    </div>
  </body>
</html>
