<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <script src="/js/index.js"></script>
    <title>Actívate-Inicio</title>
  </head>
  <body cz-shortcut-listen="true">
    <div class="wrapper">
    <header>
        <nav th:replace="~{components/navbar.html :: navBar}"></nav>
    </header>
    <main id="mainBody">
      <a href="/activate/perfil">
        <video id="video" src="../images/activate.mp4" autoplay muted></video>
      </a>
  
    <div th:each="noticia:${noticias}">
      <div class="noticia" style="display: none">
        <p id="rutaImagen" th:text="${noticia.rutaImagen}"></p>
        <h3 th:text="${noticia.titulo}"></h3>
        <br>
        <p th:text="${noticia.cuerpo}"></p>
      </div>
    </div>
    <div class="navegacion-noticias">
      <span class="flecha-izquierda">◁</span>
      <span class="flecha-derecha">▷</span>
    </div>

    

  </main>
    <!-- ----footer---- -->
    <footer th:replace="~{components/footer.html :: footer}"></footer>
    </div>
  </body>
</html>
