<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/perfil.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <title>Actívate-Inicio</title>
</head>
<body>
<div class="wrapper">
    <nav th:replace="~{components/navbar.html :: navBar}"></nav>
    <main class="perfil-main">
        <h1 id="titulo">Perfil</h1>
        <h1><span th:text="${currentUserName}"></span></h1>

        <div class="perfil-columnas">
            <div class="dietas-container container">
                <h2>Dietas</h2>
                <section th:if="${dieta == null}">
                    <p>No cuentas con ninguna dieta.</p><a href="/activate/nuevaDieta">Elige la que más se adecue a ti.</a>
                </section>
                <section th:if="${dieta != null}">
                    <h2 th:text="${dieta.nombre}"></h2>
                    <img th:src="@{${dieta.rutaImagen}}" alt="Imagen de Dieta" />
                </section>
            </div>

            <div class="rutinas-container container">
                <h2>Rutinas</h2>
                <section th:if="${rutina == null}">
                    <a href="/activate/perfil"><button class="login-button" id="loginButton">No cuentas con ninguna rutina?</button></a>
                </section>
                <section th:if="${rutina != null}">
                    <h2 th:text="${rutina.nombre}"></h2>
                    <img th:src="@{${rutina.rutaImagen}}" alt="Imagen de Entrenador" />
                </section>
            </div>
        </div>
        <br>
        <form th:action="@{/logout}" method="post">
            <input id="cerrarSesion" type="submit" value="Logout" />
        </form>
    </main>
    <footer th:replace="~{components/footer.html :: footer}"></footer>
</div>
</body>
</html>
