<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rutinas</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/rutinas.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav th:replace="~{components/navbar.html :: navBar}"></nav>
        </header>
        <main>
            <h1 id="titulo">Rutinas</h1>
            <div class="rutinas-container">
                <div th:each="rutina : ${rutinas}" class="card">
                    <a th:href="@{'/activate/servicios/rutinas/' + ${rutina.idRutina}}">
                        <img th:src="@{${rutina.rutaImagen}}" alt="Imagen de Rutina">
                        <div class="card-content">
                            <h2 th:text="${rutina.nombre}">Nombre de la Rutina</h2>
                            <p>Duración: <span th:text="${rutina.duracion}">Duración</span> minutos</p>
                            <p>Tipo de Rutina: <span th:text="${rutina.tipoRutina}">Tipo</span></p>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <footer th:replace="~{components/footer.html :: footer}"></footer>
    </div>
</body>
</html>
