<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de Rutina</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/rutinaDetalles.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav th:replace="~{components/navbar.html :: navBar}"></nav>
        </header>
        <main>
            <div class="detalle-container">
                
                <div class="detalle-content">
                    <h1 th:text="${rutina.nombre}">Duración</h1>
                    <div class="primeraLinea">
                        <section>
                    <img th:src="@{${rutina.rutaImagen}}" alt="Imagen de Rutina">
                    </section>
                    <section>
                    <p>Duración: <span th:text="${rutina.duracion}">Duración</span> minutos</p>
                    <p>Tipo de Rutina: <span th:text="${rutina.tipoRutina}">Tipo</span></p>
                    <p>Frecuencia: <span th:text="${rutina.frecuencia}">Frecuencia</span> veces por semana</p>
                    <p>Descripción: <span th:text="${rutina.descripcion}"></span></p>
                </section>
                    </div>
                    <h3>Ejercicios</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Día de la Semana</th>
                                <th>Ejercicio</th>
                                <th>Series</th>
                                <th>Repeticiones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="relacion : ${rutinaEjercicio}">
                                <td th:text="${relacion.dia}">Día</td>
                                <td th:text="${relacion.ejercicio.nombre}">Ejercicio</td>
                                <td th:text="${relacion.series}">Series</td>
                                <td th:text="${relacion.repeticiones}">Repeticiones</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer th:replace="~{components/footer.html :: footer}"></footer>
    </div>
</body>
</html>
