.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.left-content,
.right-content {
    padding: 20px;
}

.left-table,
.right-table {
    width: 100%; 
}


main {
    overflow: auto; 
}


.left-table,
.right-table {

    text-align: center; 
    border-collapse: collapse; 
    border-spacing: 5px; 

}



