
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    background-color: #FFD600;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #dfc12f;
  }
  .contactForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }


  #name, #asunto , #message{
    width: 20vw;
  }


  .tarjeta{

    margin-left: 35vw ;
    margin-right: 35vw ;
    background-color: #2B2E38;
    padding: 30px;
    border-radius: 10px;
  }

  label{
    color: #ddd;
  }

  input, textarea{
    color: #000000;
  }