body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

.entrenadores-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    max-width: 90vw;
    margin: 0 auto; /* Center the grid */
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 40vh; /* Fixed width for all cards */
    margin: auto; /* Center cards in their grid cells */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

.card p {
    margin: 5px 0;
    color: #555;
}
