/* Ensures the entire html and body take up 100% height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #2B2E38;
  padding: 1vh;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  width: 100%;
}

div#derechos {
  margin-left: auto; /* Mueve #derechos a la derecha */
}

.redes {
  margin-left: 4vh;
  width: fit-content;
  height: fit-content;
  background-color: #2B2E38;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  border-radius: 4px;
  width: 52px;
  height: 52px;
  background-color: #1F2029;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram */
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

/* twitter */
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

/* linkedin */
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* Whatsapp */
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

*, *::before, *::after {
  box-sizing: border-box;
}


@keyframes slide-in-top {
  0% {
      transform: translateY(-50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

