






.noticias-container a:hover{
    
    font-size: 170%;
    background-size: 110%;
        
}


.noticia {
    background-image: url("../img/Activate.gif");
    background-repeat: no-repeat; /* Evitar que el fondo se repita */
    background-size: cover; /* Hacer que la imagen de fondo cubra todo el div */
    background-position: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: none;
    height: 30%;
    margin-top: 1%;
}

.noticia h3 {
    font-size: 24px;
    margin: 0;
}

.noticia p {
    font-size: 16px;
}

.navegacion-noticias {
    text-align: center;
    margin-top: 20px;
}

.flecha-izquierda,
.flecha-derecha {
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
    color: #FFD600;
}


