#rutaImagen{
    display: none;
}

#activate-mensaje {
    margin-top: -570px;
}

.noticias-container a:hover {

    font-size: 170%;
    background-size: 110%;

}

#mainBody a {
    display: block;
    overflow: hidden;
}

#video {
    border-radius: 33px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    width: 95vw;
    height: 100%; 
    object-fit: cover; 
}


.noticia {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-left: 1.5vw;
    margin-right: 2.5vw;
    border-radius: 10px;
    display: none;
    height: 30vh;
    margin-top: 1%;
    position: relative;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.noticia h3 {
    font-size: 24px;
    margin: 0;
}

.noticia {
    position: relative; 
    padding-bottom: 10%; 
}

.navegacion-noticias {
    position: absolute;
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.flecha-izquierda,
.flecha-derecha {
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
    color: #FFD600;
}


