#activate-mensaje {
    margin-top: -570px;
    /* Adjust this value to your preference */
}

.noticias-container a:hover {

    font-size: 170%;
    background-size: 110%;

}

#mainBody a {
    display: block;
    overflow: hidden;
}

#video {
    border-radius: 33px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    width: 95vw;
    height: 100%; /* Añadido para ocupar toda la altura del contenedor */
    object-fit: cover; /* Añadido para mantener la proporción de aspecto y cubrir todo el contenedor */
}



.noticia {
    background-image: url("../img/Activate.gif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-left: 1.5vw;
    margin-right: 2.5vw;
    border-radius: 10px;
    display: none;
    height: 30%;
    margin-top: 1%;
}

.noticia h3 {
    font-size: 24px;
    margin: 0;
}

.noticia p {
    font-size: 16px;
}

.navegacion-noticias {
    text-align: center;
    margin-top: 20px;
}

.flecha-izquierda,
.flecha-derecha {
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
    color: #FFD600;
}