ul.menu{
    height: 35px;
    padding: 35px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #1F2029; /* Volver al fondo original */
    color: #fff;
}


nav {
    text-align: center;
    margin-bottom: 2%;
}

.menu li {
    text-align: center; /* Alinea el texto en el centro */
}


.menu li a {
    color: #ffffff;
    font-size: 130%;
    text-decoration: none;
    padding: 10px 20px;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Utiliza repeat para simplificar la definición de columnas */
    background-color: #2B2E38;

}
.menu-item.active a {
    color: #FFD600; /* Amarillo */
    text-decoration: underline 3px; /* Subrayado con un ancho de 3px */
    font-size: 140%; /* Tamaño de fuente aumentado a 28px */
}

#iniciarSesion{
    
    float: right;

}

#registrarse{
margin-right: 4%;
font-weight: bold;
}


#logo{
width: 200px;
}

.auth-button {
    text-align: right;
}

.auth-button a {
    color: #fff;
    border: none;
}

.auth-button.registrarse a {
    background-color: #FFD600;
    border: 2px solid #FFD600;
    color: #002d1c;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    float: right;
}

#contacto{
    margin-right: 100%;
    
}
