#mensajeRutinaResultante {
    color: white;
    font-size: 1.2em; /* Ajusta el tamaño de la fuente según tu preferencia */
    margin-top: 20px; /* Ajusta el espacio superior según tu preferencia */
    text-align: center; /* Centra el mensaje */
    background-color: #333; /* Color de fondo para resaltar el mensaje */
    padding: 10px; /* Espacio interno para mayor separación */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}


#rutinaResultante {
    color: #ffcc00; /* Cambia este color según tu preferencia */
    font-weight: bold;
}
