#mensajeRutinaResultante {
    color: white;
    font-size: 1.2em; /* Ajusta el tamaño de la fuente según tu preferencia */
    text-align: center; /* Centra el mensaje */
    background-color: #333; /* Color de fondo para resaltar el mensaje */
    padding: 10px; /* Espacio interno para mayor separación */
    border-radius: 5px; /* Bordes redondeados */

    margin-bottom: 3vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    padding: 20px;
}


#rutinaResultante {
    color: #ffcc00; /* Cambia este color según tu preferencia */
    font-weight: bold;
}

 .styled-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.styled-button:hover {
    background-color: #ffcc00;
    color: black;
}

#imagenDietaResultante{
    height: 30vh;
}

#resultado{
    color: rgb(255, 255, 255);
}

#resultado *{
    color: #ffcc00;
}