.container {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

#contacto {
  text-align: left;
}

.rutinas {
  margin-left: 10px;
  background-image: url("../images/rutinas.jpg");
}

.dietas {
  margin-right: 10px;
  background-image: url("../images/dietas.jpg");
}

.calcular-kcal {
  margin-left: 10px;
  background-image: url("../images/calcular-kcal.png");
}

.entrenadores {
  margin-right: 10px;
  background-image: url("../images/entrenadores.jpg");
}

.noticia {
  background-image: url("../images/Activate.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: none;
  height: 30%;
  margin-top: 1%;
}

.noticia h3 {
  font-size: 24px;
  margin: 0;
}

.noticia p {
  font-size: 16px;
}

.navegacion-noticias {
  text-align: center;
  margin-top: 20px;
}

.flecha-izquierda,
.flecha-derecha {
  font-size: 24px;
  margin: 0 20px;
  cursor: pointer;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
  color: #ffd600;
}

#cerrarSesion {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  background-color: #ffd600;
  color: #000000;
}

#cerrarSesion:hover {
  background-color: #000000;
  color: #ffd600;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.perfil-columnas {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
  width: calc(50% - 20px);
  margin: 10px 40px;
  box-sizing: border-box;
  padding: 20px;
}

.tarjeta {
  background-size: cover;
  background-position: center;
  color: #000000;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-decoration: none;
  background-color: #ffffff;
  justify-content: flex-start;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 3vw;
}

.tarjeta img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.tarjeta:hover {
  border-radius: 10px;
  color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.015, 1.015);
  transition: all 0.15s linear;
}

.tarjeta h2,
.tarjeta p {
  color: #000000;
  text-decoration: none;
}

#tipo *,
#calorias * {
  color: #000000;
}
