
.rutinas {
    background-image: url('../images/rutinas.jpg');
}

.dietas {
    background-image: url('../images/dietas.jpg');
}

.calcular-kcal {
    background-image: url('../images/calcular-kcal.png');
}

.entrenadores {
    background-image: url('../images/entrenadores.jpg');
}



.servicios-container{
    margin-left: 2vw;
    display: flex;
    height: 80vh;
    width: 95vw;
}


.servicios-container a{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;

}

.servicios-container a:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}



.container {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-decoration: none;
}